<!doctype html>
<html ng-app="mwl.calendar.docs">
	<head>
	    <meta charset="utf-8">
	    {% load staticfiles %}
	    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
		<title> {% block title %} MS Events {% endblock %} </title>
		<!-- Jquery -->
		{% block js %}
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		{% endblock %}
		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="57x57" href="{% static 'favicon/apple-icon-57x57.png' %}">
		<link rel="apple-touch-icon" sizes="60x60" href="{% static 'favicon/apple-icon-60x60.png' %}">
		<link rel="apple-touch-icon" sizes="72x72" href="{% static 'favicon/apple-icon-72x72.png' %}">
		<link rel="apple-touch-icon" sizes="76x76" href="{% static 'favicon/apple-icon-76x76.png' %}">
		<link rel="apple-touch-icon" sizes="114x114" href="{% static 'favicon/apple-icon-114x114.png' %}">
		<link rel="apple-touch-icon" sizes="120x120" href="{% static 'favicon/apple-icon-120x120.png' %}">
		<link rel="apple-touch-icon" sizes="144x144" href="{% static 'favicon/apple-icon-144x144.png' %}">
		<link rel="apple-touch-icon" sizes="152x152" href="{% static 'favicon/apple-icon-152x152.png' %}">
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-icon-180x180.png' %}">
		<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'favicon/android-icon-192x192.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon/favicon-96x96.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
		<link rel="manifest" href="{% static 'favicon/manifest.json' %}">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="{% static 'favicon/ms-icon-144x144.png' %}">
		<meta name="theme-color" content="#ffffff">
	</head>

	<body>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">Microsoft Space</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
				<li><a href="{% url 'calendar' %}">Calendar</a></li>
				<li><a href="#">About</a></li>
				<li><a href="{% url 'spaces' %}">Spaces</a></li>
				<li><a href="#">Request Event</a></li>
				{% if account_type == "AD" %}
				<li><a href="#">Members</a></li>
				{% endif%}
          </ul>
          <ul class="nav navbar-nav navbar-right">
				{% if logged_in %}
				<li><a href="{% url 'profile' %}">Profile</a></li>
				<li><a href="{% url 'logout' %}">Logout</a></li>
				{% else %}
				<li><a href="{% url 'register' %}">Register</a></li>
				<li><a href="{% url 'login' %}">Login</a></li>
				{% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% if message %}
    <div class="container">
        <div class="alert alert-success" role="alert">
            {{message}}
        </div>
    </div>
	{% endif %}	

	    <div class="container">
		    <div class="page">

		    <div class="content">
			    {% block content %}
			    {% endblock %}
			</div>

			</div>
		</div>
	</body>
</html>
