{% extends "msevents/base.html" %}

{% block content %}

<div class="row" style="text-align: right">
<div class="button-group">
	<a href="{% url 'members' %}" class="btn btn-primary" style="color: white">Members</a>
	<a href="{% url 'location' %}" class="btn btn-success" style="color: white">Add Location</a>
	<a href="{% url 'past_events' %}" class="btn btn-primary" style="color: white">Past Events</a>
</div>
<br>
</div>
<div class="row">
<table class="table table-bordered">
		<thead style="text-align:center;">
			<td>Building</td>
			<td>Room</td>
			<td>Notes</td>
			<td>Actions</td>
		</thead>
	{% for location in locations %}
		<tr>
			<td>{{location.building}}</td>
			<td>{{location.room}}</td>
			<td>{{location.details}}</td>
			<td style="text-align: center;">
			<a href="location/edit/?id={{location.pk}}"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;
			<a href="location/delete/?id={{location.pk}}"><span class="glyphicon glyphicon-trash glyphicon-danger" ></span></a></td>

		</tr>
	{% endfor %}


</table>
</div>
{% endblock %}