{% extends "msevents/base.html" %}

{% block content %}
{% load msevents_extras %}
<table class="table table-striped table-bordered">
<thead>
    <th style="text-align: center;">Username</th>
    <th style="text-align: center;">First Name</th>
    <th style="text-align: center;">Last Name</th>
    <th style="text-align: center;">Account Type</th>
    <th style="text-align: center;">Email</th>
    <th style="text-align: center;">Actions</th>
</thead>
{% for m in members %}
<tr>
    <td><a href="{% url 'user' %}?id={{m.profile.user_id}}">{{ m.username}}</a></td>
    <td>{{ m.first_name}}</td>
    <td>{{ m.last_name}}</td>
    <td>{{ m.profile.ACCOUNT_TYPE_LOOKUP|get_item:m.profile.account_type }}</td>
    <td>{{ m.email }}</td>
    <td style="text-align: center;"><a href="{% url 'edit_user' %}?id={{m.pk}}"><span class="glyphicon glyphicon-edit"></span></a>
        <a href="{% url 'delete_user' %}?id={{m.pk}}"><span class="glyphicon glyphicon-trash glyphicon-danger"></span></a></td>
</tr>
{% endfor %}
</table>
{% endblock %}