{% extends "msevents/base.html" %}

{% load widget_tweaks %}

{% block content %}
<div class="">
    <h3>Edit User:</h3>

    <form method="post" action="?id={{user.pk}}">
    {% for field in user_form %}
    <div class="form-group">
        {{ field.errors }}
        {{ field.label_tag }} 
        <input id="{{ field.auto_id }}" type="text" name="{{ field.html_name }}" class="form-control" value="{{ field.value }}">
    </div>
    {% endfor %}
    {% for field in profile_form.visible_fields %}
    <div class="form-group">
        {{ field.label }}:<br>
        {{ field|add_class:"form-control"}}        
    </div>
    {% endfor %}
    {% csrf_token %}

    <input type="submit" value="Update User" class="btn btn-lg btn-primary btn-block" />
    </form>
</div>
{% endblock %}